.btn {
    font-family: 'Press Start 2P', cursive;
    color: white;
    border: none;
    border-radius: 10px;
    background-color: #7e247e;
    text-transform: uppercase;
    padding: 1rem 3rem;
    cursor: pointer;
}

.btn:hover {
    transition: all 500ms ease;
    background-color: #4a2352;
}
